{% extends "base.html.twig" %}

    {% block title %}Bienvenue sur le meilleur réseau d'appartements{% endblock %}

    {% block header %}
    <h1>Voici le header</h1>
    {% endblock %}

    {% block body %}
        <div class="container">
            <div class="p-5 mb-4 bg-light rounded-3 mt-3">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold">Bienvenue sur SymBNB</h1>
                    <p class="col-md-8 fs-4">Nous mettons en relation les voyageurs et propriétaires qui veulent profiter d'opportunités et gagner de l'argent en proposant leur bien à la location</p>
                    <hr>
                    <p>Vous êtes voyageur ? Et vous voulez voir ou vous pourrez loger pour votre prochain déplacement ?</p>
                    <button class="btn btn-primary btn-lg" type="button">Voir nos annonces</button>
                </div>
            </div>
            <h2 class="h1 mt-3 mb-4">Nos appartements stars</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-center">
                            3 chambres, <strong>49 &euro; / nuit</strong><br>
                            <small>Pas encore noté</small>
                        </div>
                        <img src="http://placehold.it/1000x400" alt="Image de l'appartement" style="height: 200px; width:auto; display: block;">
                        <div class="card-body">
                            <h4 class="card-title">Appartement de ouf</h4>
                            <p class="card-text">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores ducimus cum dolor quaerat doloremque mollitia architecto dolore tenetur quos nihil.
                            </p>
                            <a href="#" class="btn btn-secondary">En savoir plus</a>
                        </div>
                    </div>
                </div><div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-center">
                            3 chambres, <strong>49 &euro; / nuit</strong><br>
                            <small>Pas encore noté</small>
                        </div>
                        <img src="http://placehold.it/1000x400" alt="Image de l'appartement" style="height: 200px; width:auto; display: block;">
                        <div class="card-body">
                            <h4 class="card-title">Appartement de ouf</h4>
                            <p class="card-text">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores ducimus cum dolor quaerat doloremque mollitia architecto dolore tenetur quos nihil.
                            </p>
                            <a href="#" class="btn btn-secondary">En savoir plus</a>
                        </div>
                    </div>
                </div><div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-center">
                            3 chambres, <strong>49 &euro; / nuit</strong><br>
                            <small>Pas encore noté</small>
                        </div>
                        <img src="http://placehold.it/1000x400" alt="Image de l'appartement" style="height: 200px; width:auto; display: block;">
                        <div class="card-body">
                            <h4 class="card-title">Appartement de ouf</h4>
                            <p class="card-text">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores ducimus cum dolor quaerat doloremque mollitia architecto dolore tenetur quos nihil.
                            </p>
                            <a href="#" class="btn btn-secondary">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="h1 mt-3 mb-4">Nos propriétaires stars !</h2>
            <div class="row">
                <div class="col">
                    <div class="card border-secondary mb-3">
                        <div class="card-body">
                            <h4 class="card-title">
                                Lior Chamla
                            </h4>
                            <hr>
                            <div class="card-text">
                                <img src="http://placehold.it/64x64" alt="Avatar de Lio Chamla" class="float-start me-3">
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab, voluptatibus?</p>
                                <a href="#" class="btn btn-success float-end">En savoir plus!</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-secondary mb-3">
                        <div class="card-body">
                            <h4 class="card-title">
                                Lior Chamla
                            </h4>
                            <hr>
                            <div class="card-text">
                                <img src="http://placehold.it/64x64" alt="Avatar de Lio Chamla" class="float-start me-3">
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab, voluptatibus?</p>
                                <a href="#" class="btn btn-success float-end">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    {% endblock %}
    